@using umbraco;
@helper RenderPaging(Paging paging, int currentId) {

	if (paging.CurrentPage > 1) {
		<a href="@library.NiceUrl(currentId)?page=@paging.PreviousPage" class="pagination__link pagination__link--prev"><i class="ico-arrow-left"></i> Previous</a>
	}
@*	
	for (var i = 1; i <= paging.TotalPages; i++) {
		if (paging.CurrentPage == i) {
			<span class="pagination__active">@i</span>
		}
		
		else {
			<a href="@library.NiceUrl(currentId)?page=@i" class="pagination__page">@i</a>
		}
	}
*@	
	if (paging.CurrentPage < paging.TotalPages) {
		<a href="@library.NiceUrl(currentId)?page=@paging.NextPage" class="pagination__link pagination__link--next">Next <i class="ico-arrow-right"></i></a>
	}
}


